/*The browser should display a desktop version of the site when the width of the browser window is 992px and above. Tablet view should appear only if the width of the browser window is between 768px and 991px, inclusively. Mobile view should appear only if the width of the browser is equal to or less than 767px.*/
/*Your site is very simple. It consists of a page heading and 3 sections (all in one row in the desktop view). Each section contains some text. You can make it dummy text/”lorem ipsum”, it doesn’t matter. How the sections are laid out on the screen depends on the width of the browser window. (Hint: use media queries discussed in Lecture 23.)*/
/*Layout: In the desktop view (992px and above), each of the 3 sections should take up equal amount of space on the screen. As you make the browser window wider or narrower, each section should become wider or narrower. (Hint: use percentages to define width and use the ‘float’ property. See Lecture 24). For a visual reference of this view, see the desktop mockup illustration below.*/
/*Layout: In the tablet view (between 768px and 991px, inclusively), the first 2 sections should be in the first row and be of equal size. The 3rd section should be in the second row and take up the entire row by itself. For a visual reference of this view, see the tablet mockup illustration below.*/
/*Layout: In the mobile view (equal to or less than 767px), each section should take up the entire row. For a visual reference of this view, see the mobile mockup illustration below.*/
/*Section title region: Each section should have a section title region that is always positioned at the top right corner of the section no matter the view (desktop, tablet or mobile). Copy the titles from the mockup illustration (i.e., Chicken, Beef, Sushi) or come up with your own. (Hint: use relative and absolute positioning and offsets as discussed in Lecture 22.)*/
/*Spacing: Pay attention to the spacing shown in the mockup illustrations. Note the spacing between sections (both horizontal and vertical). Note the horizontal spacing between the edges of the section and the edges of the browser window. Also, note the spacing between the dummy text in each section and the edges of the section. Lastly, make sure the dummy text is “pushed down” enough so it doesn’t overlap the section title region. (Hint: use margins and padding and use border-box as your box-sizing as discussed in Lecture 19.)*/
* {

    box-sizing: border-box;
}
body {
    font-family: courier, sans-serif;
    background-color: lightslategray;
    font-size: 105%;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    color: lightskyblue;
    font-weight: bold;
    margin-top: 20px;
}

div {
    color: lightcyan;
    overflow: auto;
    border: 1px solid lightskyblue;
    padding: 10px;

}
div.allContent {
    padding: 10px;
}
div.box {
    background-color: darkslategrey;
    float: left;

}

.botton1, .botton2, .botton3 {
    background-color: lightcoral;
    text-align: center;
    width: 30%;
    position: relative;
    left: 70%;
}
footer {
    font-size: 70%;
    margin-bottom: 50px;
    color: lightgreen;
    text-align: center;
    padding-top: 40px;
}

/* Large */
@media (min-width: 992px) {
    .box {
    width: 30%;
    float: left;
    height: 330px;
    margin-left: 3%;
    }
}
/* Medium */
@media (min-width:768px) and (max-width:991px) {
    .box1, .box2 {
        width: 48%;
        margin-left: 2%;
        height: 310px;
        margin-bottom: 10px;
    }
    .box3 {
        width: 100%;
        height: auto;
        padding-bottom: 10px;
    }
    .botton3 {
        width: 15%;
        left: 85%;
    }
}
/* small */
@media (max-width:767px) {
    .box {
        width: auto;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

}
